################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/bin/Debug/net8.0
/obj
/wwwroot/images/d0b0f9ca-65a0-42b4-85f7-615a47cf384c.jpg
